html, body {
  background: #000;
}
.button {
  margin: 0% auto;
  padding: 4px;
  text-align: center;
  font-size: 12px;
  cursor: pointer;
  color: #f80;
}

.button:hover {
  color: #008;
}

#popup-title {
  margin: 0% auto;
  padding: 4px;
  color: #08f;
  text-align: center;
  font-size: 12px;
}